button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color: rgb(1, 214, 252);
    text-shadow: 2px 1px rgb(1, 5, 5);
}

.btn-default {
    color: #000;
    font-size: medium;
}

body {
	background-image: url("../images/back.jpg");
    font-family: 'Baloo', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}



